POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=mundial
POSTGRES_PASSWORD=mundial
POSTGRES_DB=mundial

JWT_SECRET=zmien-na-losowy-string-minimum-32-znaki
JWT_EXPIRE_DAYS=7

FOOTBALL_API_KEY=twoj-klucz-z-football-data.org
RESEND_API_KEY=twoj-klucz-z-resend.com

FRONTEND_URL=http://localhost:5173
